@font-face {
  font-family: "Mario";
  src: url(mario.ttf) format("ttf");
  font-weight: 400;
}

* {
  font-family: "Mario";
  user-select: none;
  -webkit-user-drag: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#blocker {
  z-index: 99999999;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

canvas {
  display: block;
}
#startScreen {
  background: #006747;
  box-shadow: 0px 20px 0px 0px #a9c23f inset, 0 -20px 0 0px #a9c23f inset;
  /* background: #000; */
  display: none;
  height: 100vh;
  width: 100vw;
}
#blast {
  background-image: url(../assets/sword.png);
  background-size: cover;
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 64px;
  height: 64px;
}
header {
  position: absolute;
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  color: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  display: none;

  backdrop-filter: blur(4px);
}
#scoreHead {
  color: #a9c23f;
}
#scoreLeft {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  line-height: 1;
}
#scoreLeft h2 {
  color: #a9c23f;
  font-size: 2.25em;
  margin-bottom: 0;
}
#scoreLeft h3 {
  font-size: 1.25em;
  margin-top: 0.75em;
}
#timeoutscreen {
  display: none;
  backdrop-filter: blur(8px);
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: left;
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#timeout {
  align-items: center;
  flex-direction: column;
  font-size: 4em;
  text-align: center;
  color: #fff;

  display: flex;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-size: contain;
  color: #fff;
}
#controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .eduIcon {
    width: 33.33%;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;

    img {
      height: 64px;
      width: auto;
      margin: 16px 0 0;
      object-fit: contain;
    }
  }
}
#vitbal {
  position: absolute;
  width: 80%;
  top: 15%;
  margin: auto;
  left: 0;
  right: 0;
}
#startButton {
  margin: auto;
  position: absolute;
  width: 20%;
  bottom: 20%;
  left: 0;
  right: 0;
  cursor: pointer;
}
#startButton:hover {
  margin: auto auto -4px;
  cursor: pointer;
}
#gameoverscreen {
  display: none;
  z-index: 9998;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}
#gameoverInside {
  position: absolute;
  z-index: 9999;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 60%;
  background-image: url(../assets/gameoverbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;

  h2 {
    color: #fff;
    font-size: 1.25em;
  }

  h3 {
    color: #a9c23f;
    font-size: 2.25em;
  }

  img {
    width: 40%;

    &:last-child {
      margin-top: 16px;
    }

    &:hover {
      cursor: pointer;
      margin-bottom: -4px;

      &:last-child {
        margin-bottom: -4px;
        margin-top: 20px;
      }
    }
  }
}

#leaderboard {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a9c23f;
  z-index: 9999;
  color: #fff;
  display: none;

  .header {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 20px auto 0;
    position: relative;

    h2 {
      margin: 0 auto;
    }

    img {
      height: 100%;
      position: absolute;
      cursor: pointer;

      &:hover {
        margin: 0 0 -4px;
      }
    }
  }

  .row {
    width: 50%;
    margin: 32px auto 16px;

    .line {
      height: 48px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 18px;

      .playerName {
        width: 70%;
        color: #006747;
        text-align: left;
      }

      .prize {
        display: flex;
        align-items: center;
        width: 9%;
        color: #006747;
        text-align: right;
        height: 100%;

        img {
          height: 100%;
          margin-left: auto;
        }
      }
      .place {
        display: block !important;
        height: auto !important;
      }
    }
  }
}
