@font-face {
  font-family: "Mario";
  src: url(mario.ttf) format("ttf");
  font-weight: 400;
}

* {
  font-family: "Mario";
  user-select: none;
  -webkit-user-drag: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  @media screen and (max-width: 560px) {
    height: 100%;
  }
}

.mobile_bodyGlobal {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

#showGlobal {
  position: absolute;
  display: flex;
  align-items: center;
  width: 10%;
  height: 32px;
  box-sizing: border-box;
  bottom: 0;
  top: 0;
  right: 24px;
  display: none;
  z-index: 5;
  margin: auto;
  text-align: right;
  color: #a9c23f;
  cursor: pointer;
}

#bodyGlobal {
  width: 60%;
  height: 55%;
  margin: auto 24px auto auto;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 8px 12px rgba($color: #000000, $alpha: 0.2);

  &::after {
    background-image: url(../assets/handle.png);
    background-size: cover;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 3;
    bottom: 2px;
    left: 2px;
    opacity: 0.5;
  }
}

#hide {
  position: absolute;
  z-index: 4;
  bottom: 6px;
  right: 6px;
  font-size: 0.5em;
  cursor: pointer;
  color: #006747;
}

#blocker {
  z-index: 99999999;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

canvas {
  display: block;
}
#startScreen,
#loginScreen {
  background: #006747;
  box-shadow: 0px 20px 0px 0px #a9c23f inset, 0 -20px 0 0px #a9c23f inset;
  /* background: #000; */
  display: none;
  height: 100%;
  width: 100%;
}
#loginScreen {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#blast {
  background-image: url(../assets/sword.png);
  background-size: cover;
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 64px;
  height: 64px;
}
header {
  position: absolute;
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  color: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  font-size: 0.7em;
  display: none;
  backdrop-filter: blur(4px);

  .nomobile {
    @media screen and (max-width: 400px) {
      display: none;
    }
  }
}
#scoreHead {
  color: #a9c23f;
}
#scoreLeft {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  line-height: 1;
}
#scoreLeft h2 {
  color: #a9c23f;
  font-size: 2em;
  margin-bottom: 0;
}
#scoreLeft h3 {
  font-size: 1em;
  margin-top: 0.75em;
  margin-bottom: 0;
}
#timeoutscreen {
  display: none;
  backdrop-filter: blur(8px);
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: left;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#timeout {
  align-items: center;
  flex-direction: column;
  font-size: 2.5em;
  text-align: center;
  color: #fff;

  display: flex;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-size: contain;
  color: #fff;

  @media screen and (max-width: 400px) {
    width: 90%;
    font-size: 1.5em;
  }
}
#controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .eduIcon {
    width: 45%;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      height: 64px;
      width: auto;
      margin: 16px 0 0;
      object-fit: contain;
    }
  }
}
#vitbal,
#vitbal2 {
  position: absolute;
  width: 80%;
  top: 15%;
  margin: auto;
  left: 0;
  right: 0;
  @media screen and (max-width: 400px) {
    width: 90%;
    top: 25%;
  }
}
#startButton,
#startButton2 {
  margin: auto;
  position: absolute;
  width: 25%;
  bottom: 20%;
  left: 0;
  right: 0;
  cursor: pointer;
  @media screen and (max-width: 400px) {
    width: 50%;
  }
}
#startButton:hover {
  margin: auto auto -4px;
  cursor: pointer;
}
#gameoverscreen {
  display: none;
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}
#gameoverInside {
  position: absolute;
  z-index: 9999;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 60%;
  background-image: url(../assets/gameoverbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;

  h2 {
    color: #fff;
    font-size: 1em;
  }

  h3 {
    color: #a9c23f;
    font-size: 2em;
    margin-bottom: 12px;
    margin-top: 0;
  }

  img {
    width: 40%;

    &:last-child {
      margin-top: 8px;
    }

    &:hover {
      cursor: pointer;
      margin-bottom: -4px;

      &:last-child {
        margin-bottom: -4px;
        margin-top: 12px;
      }
    }
  }
}

#leaderboard {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a9c23f;
  z-index: 2;
  color: #fff;
  display: none;
  overflow-y: scroll;

  .header {
    width: 90%;
    height: 32px;
    display: flex;
    align-items: center;
    margin: 20px auto 0;
    position: relative;
    @media screen and (max-width: 400px) {
      height: 22px;
    }

    h2 {
      margin: 0 auto;
      @media screen and (max-width: 400px) {
        font-size: 0.6em;
        margin: 0 0 0 auto;
      }
    }

    img {
      height: 100%;
      position: absolute;
      cursor: pointer;

      &:hover {
        margin: 0 0 -4px;
      }
    }
  }

  .row {
    width: 80%;
    margin: 32px auto 16px;

    .line {
      height: 48px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 18px;

      .playerName {
        width: 70%;
        color: #006747;
        text-align: left;
      }

      .prize {
        display: flex;
        align-items: center;
        width: 9%;
        color: #006747;
        text-align: right;
        height: 100%;

        img {
          height: 100%;
          margin-left: auto;
        }
      }
      .place {
        display: block !important;
        height: auto !important;
      }
    }
  }
}

#chooseship {
  position: absolute;
  z-index: 1;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;

  .container {
    margin: auto;
    width: 80%;
    height: 60%;

    h2 {
      font-size: 1.5em;
      @media screen and (max-width: 400px) {
        font-size: 1.5em;
      }
    }

    .row {
      margin: 7% 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: 50%;

      .card {
        background-image: url(../assets/card.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 20%;
        height: 100%;
        display: flex;

        &:hover {
          background-image: url(../assets/cardh.png);
          cursor: pointer;
        }

        img {
          height: 40%;
          width: 40%;
          object-fit: contain;
          object-position: center;
          margin: auto;
        }
      }
    }
  }
}

#spacedetails {
  position: absolute;
  z-index: 1;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;

  .container {
    width: 80%;
    margin: auto;
  }

  .row {
    display: flex;
    flex-direction: row;

    .ship {
      background-image: url(../assets/card.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      width: 30%;

      img {
        margin: auto;
        width: 40%;
        height: 40%;
        object-fit: contain;
        object-position: center;
      }
    }

    .desc {
      font-size: 0.85em;
      width: 70%;
      @media screen and (max-width: 300px) {
        font-size: 0.65em;
      }

      span {
        margin-bottom: 12px;
        display: inline-block;
      }

      .redColor {
        color: #ff5656;
      }
      .iceColor {
        color: #bee8ff;
      }
      .orangeColor {
        color: #ff9e45;
      }
      .blueColor {
        color: #4db4ff;
      }
    }
  }
  .rowDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 32px;
    margin: 24px auto 0;
    @media screen and (max-width: 760px) {
      width: 100%;
    }
    @media screen and (max-width: 300px) {
      height: 22px;
    }

    img {
      height: 100%;

      &:hover {
        margin-top: 4px;
        cursor: pointer;
      }
    }
  }
}
